.calc {
  width: 320px;
  margin: 50px auto;
}
#answer {
  background-color: #e2e2e2;
  padding: 10px;
  font-size: 35px;
  width: 320px;
  height: 80px;
  text-align: right;
  border: 2px solid #333;
}
.button {
  background: #333;
  height: 80px;
  width: 80px;
  color: #fff;
  font-size: 30px;
  border: 1px solid #000;
  float: left;
}
.button1 {
  width: 50%;
}